.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 250px;
  transition: all 0.3s ease;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
  color: #fff;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.2s;
  cursor: pointer;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.2s;
}

.icon:focus .link-text span {
  transform: rotate(180deg);
}

.active {
  background-color: lightskyblue;
  color: #000;
}

.icon,
.link-text {
  font-size: 25px;
  transition: all 0.3s ease;
}

.dropdown {
  padding: 20px;
}

.dropdown .dropdown-items {
  margin: 20px;
}

.dropdown .dropdown-items ul li {
  margin: 20px 0;
}

.dash-wrapper ul li {
  border-bottom: 1px solid rgb(173, 173, 173);
}

.dropdorn-link-text {
  font-size: 25px;
  color: #fff;
}
